<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments.html :: head"></div>
<body>
	<div th:insert="fragments.html :: menu"></div>
	<h1><span th:text="#{jobs.heading}">All Active Jobs</span></h1>
	<table>
		<tr>
			<th th:text="#{job.id}">ID</th>
			<th th:text="#{job.name}">name</th>
			<th th:text="#{job.description}">description</th>
		</tr>
		
		<tr th:each="job,iterationCount : ${jobs}" th:object="${job}"	>			
			<td th:text="*{jobId}">1</td>
			<td><a th:text="*{jobName}">job name</a></td>
			<td th:text="*{description}">Description</td>
		</tr>
	</table>
	<div th:insert="fragments.html :: footer"></div>
</body>
</html>